/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -10px;
  animation: menuitem 0.5s alternate infinite ease-in-out;
}

.theme-menu__button::after {
  content: "";
  display: block;
	position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.card__like-button::after {
  content: '';
  display: block;
  position: absolute;
  block-size: 100%;
  inline-size: 0;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
}

.card__like-button:hover::after {
  inline-size: 100%;
}

.footer__button::after {
  content: '';
  display: block;
  position: absolute;
  block-size: 100%;
  inline-size: 0;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease-in-out;
}

.footer__button:hover::after {
  inline-size: 100%;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: 0.3s ease;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--sparks-color);
  transition: fill 0.3s linear;
  transition-delay: 0.3s;
}

.like-icon:active .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s;
  transition-delay: 0.5s;
}

.like-icon .main-body {
  transition: fill 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color);
  transition: fill 0.6s;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s alternate ease-in;
  animation-delay: 0.3s;
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: like 0.3s ease-in;
  transform-origin: center;
  animation-delay: 0.1s;
}

.like-icon.is-liked .contour {
  animation: contr 2s both linear;
  transition: 0.1s;
}

@keyframes menuitem {
  from {
    left: -16px;
  }
  to {
    left: -20px;
  }
}

@keyframes like {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes spark {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes contr {
  from {
    fill: var(--sparks-color);
  }
  to {
    fill: var(--accent-color);
  }
}