/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --page-bg-color: #fff;
  --accent-color: #000;
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --header-width: 400;
  --main-width: 700;
  --repeat-grdn-color: #d3d3d3;
  --linear-first-color: #e7e7e7;
  --linear-second-color: #1a1a1a;
  --shadow-color: #fff;
  --difference-color: #fff;
  --sparks-color: #ff0000;
  --wdth-min: 400;
  --wdth-max: 700;
}

:root.theme-dark {
  --page-bg-color: #000;
  --accent-color: #00CC14;
  --main-font: Inter-Variable;
  --accent-font: PressStart2P;
  --header-width: 465;
  --main-width: 785;
  --repeat-grdn-color: #000;
  --linear-first-color: #007f0c;
  --linear-second-color: #004306;
  --shadow-color: #000;
  --difference-color: #00CC14;
  --sparks-color: #ff0000;
  --wdth-min: 465;
  --wdth-max: 785;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #000;
    --accent-color: #00CC14;
    --main-font: Inter-Variable;
    --accent-font: PressStart2P;
    --header-width: 465;
    --main-width: 785;
    --repeat-grdn-color: #000;
    --linear-first-color: #007f0c;
    --linear-second-color: #004306;
    --shadow-color: #000;
    --difference-color: #00CC14;
    --sparks-color: #ff0000;
    --wdth-min: 465;
    --wdth-max: 785;
  }
}